body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* transform: scale3d(4, 4, 1); */
  background-color: #44617b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img,
svg,
canvas,
div {
  image-rendering: pixelated;
}

[style*='--aspect-ratio'] {
  & > :first-child {
    width: 100%;
  }
  & > img {
    height: auto;
  }
  @supports (--custom: property) {
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    & > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}
